
swiftnarau.xcodeproj/project.xcworkspace/xcshareddata/swiftnarau.xccheckout

swiftnarau.xcodeproj/project.xcworkspace/xcuserdata/andrewmichalik.xcuserdatad/UserInterfaceState.xcuserstate

swiftnarau.xcodeproj/xcuserdata/andrewmichalik.xcuserdatad/xcschemes/swiftnarau.xcscheme

swiftnarau.xcodeproj/xcuserdata/andrewmichalik.xcuserdatad/xcschemes/xcschememanagement.plist
